{{- $version := .Param "version" -}}
{{- $title := printf "Documentation for [Release %s](/releases/%s/)" $version $version -}}

<div class="callout callout-note d-flex flex-row mt-4 mb-4 pt-4 pe-4 pb-2 ps-3">
    {{ partial "inline-svg" (dict "src" "info-circle" "class" "callout-icon me-2 mb-3") }}
    <div class="callout-content">
        {{ with $title -}}
        <div class="callout-title">
            {{ . | $.Page.RenderString (dict "display" "block") }}
        </div>
        {{- end }}
    </div>
</div>
